.banners {
    height: 300px;
}

.banners-a {
    width: 100%;
    height: 50vw;
    background: #fff;
}

.banners-slide {
    display: flex;
    flex-wrap: wrap;
}

.banners-item {
    display: flex;
    width: 20%;
    height: 40%;
    margin: 10px;
}

.banners-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

.banners-item div p {
    height: 14vw;
    width: 14vw;
    background: skyblue;
}

.banners-item div img {
    height: 100%;
    width: 100%
}

.banners-item div span {
    text-align: left;
    font-size: 2px;
}