.footer {
    width: 100%;
    height: 50px;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    border-top: 1px solid #000;
}

a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: rgb(146, 151, 151);
}

a img {
    width: 50px;
    height: 40px;
}

.active {
    color: #0e0e0e;
    font-weight: 500;
    /* font-size: 1.3rem; */
}

i {
    font-size: 1.5em;
}

.add {
    color: red;
}